{% extends 'base.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}




{% block stylesheets %}
    {{ parent() }}
    {# <link href="{{ asset('css/bootswatch.css') }}" rel="stylesheet"> #}


    <style> 

        .row:after {
            content: "";
            display: table;
            clear: both;
        }



        #column-left{
            width: 13%;
            float: left;
            max-height: 900px;
        }
        #column-middle{
            width: 76.5%;
            max-height: 900px;
        }
        #column-right{
            width: 10.5%;
            float: right;
            max-height: 900px;
        }

        #column-middle-top{
            min-height: 329.66px;
        }

    </style>
{% endblock %}







{% block body %}


    {% block navbar %}
        {% include('navbar.html.twig') %}
    {% endblock %}




    <div class="row">

        <div id="column-left"> 
            {% block left %}
            {% endblock %}
        </div>


        <div id="column-middle">
            {# {% block middle %} #}




            <div class="column" id="column-middle-top">
                {% block middle_top %}
                    {# {{ render( controller( default_middle_top )) }} #}
                <div>gora- ten best
                    
                </div>
                {% endblock %}
            </div>
            <div id="column-middle-bottom">
                {% block middle_bottom %}
                    {# {{ render( controller( default_middle_bottom )) }} #}
                <div>dół</div>
                {% endblock %}
            </div>




            {# {% endblock %} #}

        </div>


        <div id="column-right">
            {% block right %}
            {% endblock %}
        </div>

    </div>







{% endblock %}
