

    {# <link href="{{ asset('css/bootswatch.css') }}" rel="stylesheet"> #}
    <style> 

        #nav-column-left{
            width: 13%;
            float: left;
            border-right: 5px solid #EB6864;
        }

        #nav-column-middle{
            width: 76.5%;
            float: left;
        }

        #nav-column-right{
            width: 10.5%;
            float: right;
            border-left: 5px solid #EB6864;
        }

        #nav-column-left, #nav-column-middle, #nav-column-right{
            padding: 3px 3px 5px 3px;
            margin-bottom:-3px;
            text-align: center;
        }
        #nav-column-left:first-child {
            padding-left: 17px;
        }
        #nav-column-right:last-child {
            padding-right: 17px;
        }

        #nav-column-left>a>button{
            position:relative;
            left: -53px;
        }
        #nav-column-right>a>button{
            position:relative;
            left: -55px;
        }
        #nav-column-middle>a>button{
            position:relative;
            z-index: -10;
        }
    </style>



<div class="row">


    <div id="nav-column-left"> 



        <a>
            <button type="button" id="create" class="btn btn-outline-primary btn-sm py-0" onClick="refreshElement(this.value, '#column-left', 'add')" value="{{ path('project.create') }}" style="font-size: 0.75rem;" data-toggle="modal" data-target="#modal-ProjectPanel">Create</button>
        </a>



    </div>


    <div id="nav-column-middle">

        <a>
            <button type="button" class="btn btn-primary btn-sm py-0"  style="font-size: 0.75rem;" data-toggle="buttons">Delete</button>
        </a>
        <a>
            <button type="button" class="btn btn-primary btn-sm py-0"  style="font-size: 0.75rem;" data-toggle="buttons">Info</button>
        </a>

    </div>


    <div id="nav-column-right">

        <a>
            <button type="button" id="create" class="btn btn-outline-primary btn-sm py-0" onClick="refreshElement(this.value, '#column-right', 'add')" value="{{ path('sample_product.create') }}" style="font-size: 0.75rem;" data-toggle="modal" data-target="#modal-SampleProductPanel">Create</button>
        </a>



    </div>

</div>